main {
  --close-size: 42px;
  --top-size: 63px;

  height: 100%;
  width: 100%;
}

main > #top {
  height: var(--top-size);
  display: flex;
  margin: 0px 10px 10px 10px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px #fff solid;
}

main > #top > #close {
  width: var(--close-size);
  height: var(--close-size);
  font-size: 24px;
  padding: 5px;
}

main > #top > span {
  margin-left: 20px;
  line-height: var(--close-size);
}

main > ul {
  height: calc(100% - var(--top-size) - 20px);
  list-style: none;
  padding: 0px;
  overflow-y: auto;
}

main > ul > li {
  border-bottom: 1px var(--secondary-border-color) solid;
  padding: 5px;
  margin: 0px 10px 0px 20px;
  cursor: pointer;
  user-select: none;
}

main > ul > li:last-child {
  border-bottom: 0px;
}

main > ul > li:hover {
  background-color: rgba(253, 253, 253, 0.171);
}

main > ul > li:active {
  background-color: rgba(154, 178, 255, 0.404);
}

main > ul > li > span {
  display: block;
  width: 100%;
  overflow: hidden;
}

main > ul > li > .file-path {
  font-size: 12px;
  max-height: 28px;
}

main > ul > li > .file-name {
  max-height: 36px;
}